In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tqdm.notebook
from IPython.display import set_matplotlib_formats
from loaders import load_selected_attributes, load_thumbnail

tqdm.notebook.tqdm().pandas()

%matplotlib inline
set_matplotlib_formats('svg')

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

/usr/local/lib/python3.7/site-packages/tqdm/std.py:658: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [2]:
vids = load_selected_attributes()
vids

,category_id,description__ant,description__avail,description__deal,description__follow,description__game,description__imag,description__key,description__life,description__music,...,title__shoot,title__tech,title__trailer,title__video,title__world,title_num_exclamation_marks,title_num_numbers,title_num_periods,title_num_question_marks,title_num_uppercase_words
0,NaN,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
1,NaN,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,1
2,NaN,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,NaN,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8602,NaN,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8603,NaN,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,4
8604,NaN,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8605,NaN,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8606,NaN,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0

In [35]:
vids['category_id'].isnull().value_counts()

True     8212
False     395
Name: category_id, dtype: int64

In [40]:
all_vids = vids
labeled_vids = vids[~pd.isnull(vids['category_id'])]

labeled_count = len(labeled_vids.index)
notlabeled_count = len(all_vids.index) - len(labeled_vids.index)

print('category labeled:', labeled_count)
print('not labeled:', notlabeled_count)
print('labeled to not labeled ratio', round(labeled_count / len(vids.index) * 100, 2), '%')
print()
print('Category per labeled video:')
labeled_vids['category_id'].value_counts()

category labeled: 395
not labeled: 8212
labeled to not labeled ratio 4.59 %

Category per labeled video:

24.0    100
10.0     54
23.0     40
22.0     39
26.0     32
17.0     30
25.0     24
28.0     21
1.0      20
20.0     14
27.0     10
15.0      5
2.0       3
19.0      2
29.0      1
Name: category_id, dtype: int64

# Metoda 1 - Label Spreading